---
import Layout from '../layouts/Layout.astro';
import {BButton, Bind, BindForm, BInput, FormErrors} from '@astro-utils/forms/forms.js';
import {Button} from 'reactstrap';
import 'bootstrap/dist/css/bootstrap.css';


const form = Bind({age: 0, name: ''});
let showSubmitText: string;

function formSubmit(){
    Astro.locals.session.counter ??= 0;
    Astro.locals.session.counter++;
    showSubmitText = `You name is ${form.name}, you are ${form.age} years old. `;
}
---
<Layout title="Welcome to Astro Metro.">
    <BindForm bind={form}>
        <FormErrors/>
        {showSubmitText}

        {Astro.locals.session.counter &&
                <p>You have submitted {Astro.locals.session.counter} times.</p>
        }

        <h4>What you name*</h4>
        <BInput type="text" name="name" maxlength={20} required/>

        <h4>Enter age*</h4>
        <BInput type="int" name="age" required/>

        <BButton as={Button} props={{color: 'info'}} onClick={formSubmit} whenFormOK>Submit</BButton>
    </BindForm>
</Layout>
