---
import Layout from '../layouts/Layout.astro';
import {BButton, Bind, BindForm, BInput, FormErrors} from '@astro-utils/forms/forms.js';
import {Button} from 'reactstrap';
import 'bootstrap/dist/css/bootstrap.css';
import Counter from '../components/Counter.astro';


const form = Bind({age: 0, name: '', about: ''});
let showSubmitText: string;

form.on.newState = () => console.log('New state loaded');
form.on.pagePostBack = () => console.log('pagePostBack');
form.on.stateLoaded = () => console.log('stateLoaded');

function formSubmit(){
    Astro.locals.session.counter ??= 0;
    Astro.locals.session.counter++;
    showSubmitText = `Your name is ${form.name}, you are ${form.age} years old. `;
    form.age++;
}

let value = 4;
function makeBackgroundRed() {
    this.style = 'background-color: red';
    value = 5;
    this.innerHTML = 'Clicked ' + (++this.extra || ++this.state.counter);
    form.about = 'This is a form about something';
}
---
<Layout title="Form + Session">
    <BButton props={{color: 'info'}} onClick={makeBackgroundRed} extra={1}>Should click</BButton>

    <BindForm bind={form} state={['about']} key="page">
        {[1, 2, 3].map(key =>
                <BButton props={{color: 'info'}} onClick={makeBackgroundRed} state={{counter: key}}>Should click</BButton>
        )}

        <p>Value: {value}</p>
        <p>About: {form.about}</p>

        <FormErrors/>
        {showSubmitText}

        {Astro.locals.session.counter &&
                <p>You have submitted {Astro.locals.session.counter} times.</p>
        }

        <h4>What you name*</h4>
        <BInput type="text" name="name" maxlength={20} required/>

        <h4>Enter age*</h4>
        <BInput type="int" name="age" required/>

        <BButton as={Button} props={{color: 'info'}} onClick={formSubmit} whenFormOK>Submit</BButton>
        <Counter/>
    </BindForm>
</Layout>
