---
import Layout from '../layouts/Layout.astro';
import { Bind } from "@astro-utils/forms";
import { BindForm, Button, Input } from "@astro-utils/forms/forms.js";
import Layout from "../layouts/Layout.astro";

const form = Bind({age: 0, name: ''});
let showSubmitText: string;

function formSubmit(){
    showSubmitText = `You name is ${form.name}, you are ${form.age} years old. `;
}
---

<Layout title="Welcome to Astro Metro.">
    <BindForm bind={form}>
        {showSubmitText}

        <h4>What you name*</h4>
        <Input type="text" name="name" maxlength={20} required/>

        <h4>Enter age*</h4>
        <Input type="int" name="age" required/>

        <Button onClick={formSubmit} whenFormOK>Submit</Button>
    </BindForm>
</Layout>
