---
import Layout from '../layouts/Layout.astro';
import {BButton, Bind, BindForm, BInput, FormErrors} from '@astro-utils/forms/forms.js';
import {Button} from 'reactstrap';
import 'bootstrap/dist/css/bootstrap.css';

type Form = {
    name: string;
    file: File;
}

const form = Bind<Form>();
let showSubmitText: string;

function formSubmit() {
    Astro.locals.session.counter ??= 0;
    Astro.locals.session.counter++;
    showSubmitText = `Your name is ${form.name}, you upload "${form.file.name}"`;
}
---
<Layout title="Upload file">
    <BindForm bind={form} key='page'>
        <FormErrors/>
        {showSubmitText}

        {Astro.locals.session.counter &&
                <p>You have submitted {Astro.locals.session.counter} times.</p>
        }

        <h4>What you name*</h4>
        <BInput type="text" name="name" maxlength={20} required/>

        <h4>File to upload*</h4>
        <BInput type="file" name="file" required/>

        <BButton as={Button} props={{color: 'success'}} onClick={formSubmit} whenFormOK>Submit</BButton>
    </BindForm>
</Layout>
